.loginBox
{
	color: white;
	font-family: sans-serif;
	text-align: center;
	
	position: fixed;
	left: 25%;
	right: 25%;
	top: 40%;
	z-index: 1;
}

.form
{
	width: 75%;
	opacity: 0.5;
}

.dice_canvas
{
	width: 100%; 
	height: 100%;  
	position: fixed; 
	left: 0; 
	top: 0; 
}

#container
{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#c
{
	width: 100%;
	height: 100%;
	display: block;
}

#labels
{
	position: absolute;
	left: 0;
	top: 0;
	color: white;
}

#menus
{
	position: absolute;
	height: 90%;
	right: 25%;
	top: 5%;
	color: white;
}

#menus>div
{
	position: absolute;
	left: 0;
	top: 0;
	font-size: large;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px;
	border-radius: 20px;
	text-shadow:
	-1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.active_label
{
	opacity: 0;
	transition: opacity .1s ease-in-out;
}

.active_label.show
{
	opacity: 1;
}

#left_buttons
{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 10%;
	top: 1%;
	left: 1%;
}

#left_buttons>button
{
	color: white;
	border-style: solid;
	background-color: black;
	border-color: black;
	border-radius: 20px;
	
	height: auto;
}

#left_buttons>button>img
{
	color: white;
	background-color: black;
	border-color: black;
	border: #000;

	width: 100%;
	height: auto;
}

#right_buttons
{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	width: 7%;
	top: 0%;
	right: 1%;
	z-index: 1;
}

#right_buttons>button
{
	color: white;
	border-style: solid;
	background-color: black;
	border-color: black;
	border-radius: 20px;
	outline:none;
	
	height: auto;
}

#right_buttons>button>img
{
	color: white;
	border-style: solid;
	background-color: black;
	border-color: black;

	width: 100%;
	height: auto;
}

#labels>div
{
	position: absolute;
	left: 0;
	top: 0;
	font-size: large;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 5px;
	text-shadow:
	-1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

#newButton
{
	margin: 0.5%;
}

.active_button
{
	border-style: solid !important;
	border-width: 8px !important;
	border-color: purple !important;
	border-radius: 20px !important;
}

.outerContainer
{
	border-radius: 5px;
	margin: 0.25%;
	padding: 0.5%;
	margin-bottom: 0.75%;
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
}

.name
{
	border-bottom: 1px solid black;
}

.innerContainer
{
	padding-left: 0.2%;
	padding-right: 0.2%;
	color: black;
	margin: auto;
}

.buttonContainer
{
	height: 100%;
}

.innerContainer>p
{
	border-radius: 2px;
	min-height: 100px;
	height: 100%;
}

.innerContainer>button
{
	display: inline-block;
	margin: 15px;
	align-items: flex-end;
    width: 25%;
    height: 100%;
}

/* Modal Header */
.my-modal-header 
{
	text-align: center;
	padding: 2px 16px;
	background-color: purple;
	color: white;
}

.my-modal-header>h2
{
	width: 100%;
}
  
/* Modal Body */
.my-modal-body 
{
	text-align: center;
	padding: 2px 16px;
}
  
/* Modal Footer */
.my-modal-footer 
{
	padding: 2px 16px;
	background-color: purple;
	color: white;
}

/* Modal Content */
.my-modal-content 
{
	display: block;
	position: fixed;
	top: -300px;
	left: 37.5%;
	background-color: white;
	opacity: 0;
	z-index: 2;
	margin: auto;
	padding: 0;
	border: 2px solid purple;
	border-radius: 10px;
	width: 25%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	transition: all .2s ease-in-out;
}

.my-modal-close
{
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.my-modal-close:hover
{
	cursor: pointer;
}

.my-modal-content.transition
{
	opacity: 1;
	top: 40%; 
}